body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #141e30, #243b55);
    color: #e0e0e0;
    font-family: 'Fira Code', Consolas, 'Courier New', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.console-wrapper {
    width: 90%;
    max-width: 800px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

.console-header {
    background-color: #20232a;
    color: #61dafb;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #282c34;
}

.console {
    background-color: #1e1e1e;
    height: 500px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    position: relative;
    overflow: hidden;
    color: #00c0c0;
}

.console-output {
    flex-grow: 1;
    overflow-y: auto;
    margin-bottom: 10px;
    color: #00c0c0;
    font-size: 14px;
    line-height: 1.6;
    padding-right: 10px;
}

.console-input {
    display: flex;
    align-items: center;
    border-top: 1px solid #282c34;
    padding-top: 5px;
}

#console-prompt {
    margin-right: 5px;
    color: #00c0c0;
    font-weight: bold;
}

#input-field {
    background-color: transparent;
    border: none;
    color: #00c0c0;
    font-size: 14px;
    width: 100%;
    outline: none;
}

.cursor-blink {
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #00c0c0;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background: #00c0c0;
}

::-webkit-scrollbar-thumb:hover {
    background: #00c0c0;
}

@media (max-width: 600px) {
    .console-wrapper {
        width: 100%;
        height: 70vh;
    }

    #console-prompt, #input-field {
        font-size: 12px;
    }
}
